/* reset */
* {margin: 0; padding: 0; font-size: 24px; color: #fff;}
a {text-decoration: none; color: #fff;}
li {list-style: none;}
table {border-spacing: 0;}
.clearfix::before, .clearfix::after {display: block; content: ''; clear: both;}

#wrap {width: 1200px; margin: 0px auto;}

/* header */
#header {text-align: center; background: #666;}
#header .logo {float: left; width: 250px; height: 100px; line-height: 100px; background: #111;}
#header .nav {float: right; width: 600px; margin-top: 28px; background: #222;}
#header .nav li {float: left; text-align: center; position: relative; width: 25%;}
#header .nav li a {padding: 10px; display: block; font-size: 20px; color: #fff;}
#header .nav li a:hover {background: rgba(0, 0, 0, 0.4);}
#header .nav li ul.submenu {display: none; position: absolute; left: 0; top: 44px; background: #777;}
#header .nav li ul.submenu li {width: 100%; border-right: 0;}
#header .nav li ul.submenu a:hover {background: rgba(0, 0, 0, 0.4);}

/* banner */
#banner {text-align: center; width: 1200px; height: 400px; margin: 0 auto; position: relative; overflow: hidden;}
#banner img {width: 100%; display: block;}
#banner h2 {padding: 10px 30px; transform: translate(-50%, -50%); z-index: 10; border-radius: 25px; position:absolute; left: 50%; top: 50%; background: rgba(255, 255, 255, 0.5);}

/* slider */
.slider {position: relative;}
.slider > div {position: absolute; left: 0; top: 0;}
.slider > div.slideImg {width: 100%;}
.slideList {width: 1200px; height: 400px; position: absolute; left: 0; top: 0;}

/* contents */
#contents {text-align: center;}
#contents > div {float: left; width: 33.333333%;}
#contents > div.cont1 {background: #444; height: 350px;}
#contents > div.cont2 {background: #555; height: 350px; line-height: 350px;}
#contents > div.cont3 {background: #666; height: 350px; line-height: 350px;}

/* tab-menu */
.tab-menu {padding: 10px;}
.tab-menu .tab-btn {text-align: center;}
.tab-menu .tab-btn ul {overflow: hidden;}
.tab-menu .tab-btn li {float: left; width: 160px; text-align: center; background: #777; margin-right: -1px;}
.tab-menu .tab-btn li.active {text-decoration: underline;}
.tab-menu .tab-btn li a {padding: 10px; display: block; color: #fff;}
.tab-menu .tab-cont {padding: 20px; text-align: left; background: #888;}

/* footer */
#footer {text-align: center;}
#footer .foot1 {float: left; width: 200px; height: 100px; line-height: 100px; background: #333;}
#footer .foot2 {float: left; width: 800px; height: 100px; line-height: 100px; background: #444;}
#footer .foot3 {float: left; width: 200px; height: 100px; line-height: 100px; background: #555;}