/* reset */
* {margin: 0; padding: 0; font-size: 20px; color: #fff;}
a {color: #333; text-decoration: none;}
li {list-style: none;}
table {border-spacing: 0;}
.clearfix::before, .clearfix::after {display: block; content: ''; clear: both;}

#wrap {width: 1200px; margin: 0px auto;}
#side {float: left; width: 300px;}
#content {float: left; width: 900px;}

/* header */
#side {text-align: center;}
#side .logo {width: 300px; height: 150px; line-height: 150px; background: #111;}
#side .nav {width: 300px; height: 700px; background: #222;}
#side .nav li {text-align: center; position: relative; background: #333;}
#side .nav li a {padding: 10px; display: block; color: #fff;}
#side .nav li a:hover {background: rgba(0, 0, 0, 0.4);}
#side .nav li ul.submenu {display: none; position: absolute; right: -200px; top: 0; width: 200px; background: #444;}
#side .nav li ul.submenu a:hover {background: rgba(0, 0, 0, 0.2);}

/* banner */
#banner {text-align: center; width: 900px; height: 450px; line-height: 450px; background: #555;}

/* contents */
#contents {width: 900px;}
#contents > div {text-align: center; float: left; width: 33.3333%; height: 300px; line-height: 300px;}
#contents > div.cont1 {background: #666;}
#contents > div.cont2 {background: #777;}
#contents > div.cont3 {background: #888;}

/* footer */
#footer {text-align: center; width: 900px;}
#footer .foot1 {float: left; width: 200px; height: 100px; line-height: 100px; background: #999;}
#footer .foot2 {float: left; width: 700px; height: 50px; line-height: 50px; background: #333;}
#footer .foot3 {float: left; width: 700px; height: 50px; line-height: 50px; background: #444;}