@import SpoqaHanSansNeo.css;

.a11y {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    visibility: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
}

body {
    font-family: 'Spoqa Han Sans';
    font-weight: 400;
    background-color: #fff;
    color: #181818;
    margin: 0;
}

.logo {
    width: 230px;
    height: 44px;
    margin: 100px auto 50px;
}
.logo a {
    display: block;
}
.logo img {
    max-width: 100%;
    height: auto;
}

.login-form fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    width: 460px;
    margin-left: auto;
    margin-right: auto;
}
.container {
    display: flex;
    flex-flow: row wrap;
}
.user-email,
.user-password,
.ip-state-wrapper,
.btn-login {
    width: 100%;
}
.user-email,
.user-password {
    background: #ffffff;
    border: 1px solid #dadada;
    box-sizing: border-box;
    height: 48px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.user-email:focus-within,
.user-password:focus-within {
    border-color: #03cf5d;
}
[name="userEmail"],
[name="userPassword"] {
    box-sizing: border-box;
    width: 100%;
    border: 0;
    padding: 5px 10px 5px 20px;
}

.ip-state-wrapper {
    order: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
